<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0.1</key>
	<string>第一个版本。</string>
	<key>1.0.12</key>
	<string>完善登录逻辑；产品介绍页面雏形。</string>
	<key>1.0.15</key>
	<string>完善网上商店页面；完善产品介绍页面。</string>
	<key>1.0.17</key>
	<string>媒体中心；图片浏览器等。</string>
	<key>1.0.18</key>
	<string>更新重新打包。</string>
	<key>1.0.20</key>
	<string>修改图片浏览器问题；数据不发生变化时不装载。</string>
	<key>1.0.21</key>
	<string>检查设备序列号；修复错误。</string>
	<key>1.0.23</key>
	<string>编译新版本。</string>
	<key>1.0.26</key>
	<string>更新编译。</string>
	<key>1.0.4</key>
	<string>实现主界面框架。</string>
	<key>1.0.8</key>
	<string>整合第一个页面。</string>
	<key>1.0.9</key>
	<string>新增招募顾客页面。</string>
</dict>
</plist>
