<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0.1</key>
	<string>第一个版本</string>
	<key>1.0.4</key>
	<string>实现主界面框架</string>
	<key>1.0.8</key>
	<string>整合第一个页面</string>
</dict>
</plist>
